<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contabilidad</title>
</head>
<body>
    <h1>Contabilidad</h1>
    <p>Esta es la pagina de Contabilidad</p>

    <!-- Dar de alta un gasto -->
    <!-- Dar de baja un gasto -->
    <!-- Modificar un gasto -->
    <!-- Listar los gastos -->
    
    <!-- Button para ir a la página de home-->
    <button onclick="window.location='{% url 'home' %}'" style="font-size: 20px; padding: 10px 20px;">Inicio</button>
</body>

</html>