<!DOCTYPE html>
<html>
<head>
    <title>Página de inicio</title>
</head>
<body>
    <h1>Home</h1>
    <p>Esta es la pagina de inicio</p>   
    <!-- Button para ir a la página de admin-->
    <a href="/admin">Admin</a>

    <nav>
        <ul>
            <li><a href="marketing">Marketing</a></li>
            <li><a href="rrhh">Recursos Humanos</a></li>
            <li><a href="contabilidad">Contabilidad</a></li>
            <li><a href="logistica">Logistica</a></li>
            <!-- Otros elementos del menú de navegación -->
        </ul>
    </nav>

</body>
</html>