<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Logistica</title>
</head>
<body>
    <h1>Logistica</h1>
    <p>Esta es la pagina de Logistica</p>

    <!-- Dar de alta un artículo -->
    <!-- Dar de baja un artículo-->
    <!-- Modificar un artículo -->
    <!-- Listar los artículos -->
    
    <!-- Button para ir a la página de home-->
    <button onclick="window.location='{% url 'home' %}'" style="font-size: 20px; padding: 10px 20px;">Inicio</button>
</body>

</html>