<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <h2>Resultados:</h2>
    {% if tabla == 'Socios' %}
        <table>
            <!-- Estructura específica para la tabla Socios -->
            <thead>
                <tr>
                    <th>DNI Socio</th>
                    <th>Nombre</th>
                    <th>Telefono Socio</th>
                    <th>Correo</th>
                    <th>Número de Tarjeta</th>
                    <th>Domicilio</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in filas %}
                    <tr>
                        <td>{{ fila.DNI_Socio }}</td>
                        <td>{{ fila.Nombre }}</td>
                        <td>{{ fila.Telefono_socio }}</td>
                        <td>{{ fila.Correo }}</td>
                        <td>{{ fila.N_tarjeta }}</td>
                        <td>{{ fila.Domicilio }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif tabla == 'Financia' %}
        <!-- Estructura específica para otra tabla -->
        <table>
            <!-- Estructura específica para la tabla Socios -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID_Gasto</th>
                    <th>Fecha_Financia</th>
                    <th>ID_Campaña</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in filas %}
                    <tr>
                        <td>{{ fila.id }}</td>
                        <td>{{ fila.ID_Gasto }}</td>
                        <td>{{ fila.Fecha_financia }}</td>
                        <td>{{ fila.ID_campana }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- ... -->
        {% elif tabla == 'Promociona' %}
        <!-- Estructura específica para otra tabla -->
        <table>
            <!-- Estructura específica para la tabla Socios -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID_Campaña</th>
                    <th>ID_Artículo</th>
                    <th>Temporada</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in filas %}
                    <tr>
                        <td>{{ fila.id }}</td>
                        <td>{{ fila.ID_Campana }}</td>
                        <td>{{ fila.ID_Articulo }}</td>
                        <td>{{ fila.Temporada }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- ... -->
    {% else %}
        <p>Tabla no reconocida</p>
    {% endif %}
</body>
</html>
