<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Marketing</title>
</head>
<body>
    <h1>Marketing</h1>
    <p>Esta es la pagina de Marketing</p>
    <!-- Dar de alta un trabajador -->
    <!-- Dar de baja un trabajador -->
    <!-- Modificar un trabajador -->
    <!-- Listar los trabajadores -->
    
    <!-- Button para ir a la página de home-->
    <button onclick="window.location='{% url 'home' %}'" style="font-size: 20px; padding: 10px 20px;">Inicio</button>
</body>

</html>